<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bookshelf</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
  <div class="container">
    <section class="top container">
      <h1 class="header text-center">Search for a Book
      </h1>
      <h2 class="header text-center">By Title or Author
      </h2>
    </section>
    <section class="top container">
      <div class="row">
        <form class="form" action="javascript:void(0)">
          <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <label class="sr-only" for="title">Title (required)</label>
              <input type="text" class="form-control" id="title" placeholder="War and Peace">
              <label class="sr-only" for="author">Author (optional)</label>
              <input type="text" class="form-control" id="author" placeholder="Leo Tolstoy">
            </div>
            <div class="col-xs-6 col-xs-offset-3 text-center">
              <button type="submit" class="btn btn-default search">Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="container">
      <div class="row booklist">
        <div class="col-xs-10 col-xs-offset-1 holder">
          <div class="row holder">
            <div class="col-xs-2 cover"></div>
            <div class="col-xs-10 list"></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <!-- <a href="https://developer.nytimes.com"><img src="https://books.google.com/books/content?id=bKq3oAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"></a> -->
        </div>
      </div>
    </footer>

  </div>
    
</body>
</html>