html, body {
  height: 96.75%;
  margin: 0;
  padding: 0;
}

.alert {
  color: black;
}

.home {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 0px;
}

section {
  flex: 1;
}

.bottom {
  margin-top: 2rem;
  padding: 1.5rem 0rem 0rem 0rem;
}

.bottom-img, .top-img {
  max-width: 100%;
  max-height: 100%;
}

.top-img {
  margin-top: -22px;
}

.navbar {
  background-image: url('../images/home-cropped-top.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar span, .navbar-default, .navbar-default .navbar-nav>li>a {
  color: white;
}

.login {
  margin-top: 20%;
  font-size: 2rem;
}

.delete {
  margin-top: 2rem;
}

.form-hidden {
  visibility: hidden;
}

.add-form {
  margin-top: 2rem;
}

.search {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input[type="radio"]{
  margin: 0 0 0 10px;
}

.rating {
  color: #ACB2BA;
  font-size: 16px;
}

.click {
  visibility: hidden;
}

.glyphicon-edit {
  margin-left: 1rem;
}

.row-hidden {
  visibility: hidden;
}