html, body {
  height: 96.75%;
  margin: 0;
  padding: 0;
}

.home {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 0px;
}

section {
  flex: 1;
}

.bottom {
  margin-top: 6rem;
  padding: 1.5rem 0rem 0rem 0rem;
}

.bottom-img, .top-img {
  max-width: 100%;
  max-height: 100%;
}

.top-img {
  margin-top: -22px;
}

.navbar {
  background-image: url('../images/home-cropped-top.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar span, .navbar-default, .navbar-default .navbar-nav>li>a {
  color: white;
}

.msg {
  font-size: 10rem;
}

.login {
  margin-top: 30%;
  font-size: 2rem;
}


