
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface';
}

.navbar span {
  font-family: 'Abril Fatface';
}

.carousel {
  /*padding-bottom: 70%;*/
}

html, body {
  height: calc(100% - 42px);
  height: -moz-calc(100% - 42px);
  height: -webkit-calc(100% - 42px);
  margin: 0;
  padding: 0;
}

.background {
  background: url('../images/home.jpg') no-repeat center center fixed;
  background-size: cover;
}

.alert {
  color: black;
}

.home {
  /*position: absolute;*/
  max-width: 100%;
  max-height: 100%;
  /*margin: 0 auto;*/
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 0px;
}

section {
  flex: 1;
}

.navbar-color {
  background-image: url('../images/home-cropped-top.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.yellow {
  color: #FFDD35;
  font-family: 'Abril Fatface', cursive;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
