{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="msg">{{ message }}</div>
{% endfor %}

<form action="{{ url_for('users.edit_password', user_id=user.id) }}?_method=PATCH" method="POST">
  {{ form.csrf_token }}
  <p>
    {{ form.old_password(placeholder="old password") }}
    <span class="text-danger">
      {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.new_password(placeholder="new password") }}
    <span class="text-danger">
      {% if form.new_password.errors %}
        {% for error in form.new_password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.confirm_password(placeholder="confirm new password") }}
    <span class="text-danger">
      {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Update password</button>
</form>

{% endblock %}