{% extends 'd3.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<h3 class="text-center">{{ user.username }}</h3>

<p class="text-center">
  <strong>{{ user.name }}</strong>
</p>

<div class="text-center">
    <span>
      <a href="{{ url_for('users.followers', user_id=user.id) }}"><span>Followers</span></a>
    </span>
    <span> | </span>
    <span>
      <a href="{{ url_for('users.following', user_id=user.id) }}"><span>Following</span></a>
    </span>
</div>



<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6">
      <div class="shelf-photo-holder">
        <a href="{{ url_for('booklists.index', user_id=user.id) }}">
          <div class="black-rounded">
            <img src="{{ url_for('static', filename='images/booklist.jpg') }}">
          </div>
          <div>
            <h2><strong> Booklist</strong></h2>
          </div>
        </a>
            <h6>
              (Books you want to read)
            </h6>
      </div>

      
      <div class="bottom-margin">
        <small>({{ booklist|length }} book{% if booklist|length != 1 %}s{% endif %})</small>
      </div>
    </div>
      

    <div class="col-xs-12 col-sm-6">

      <div class="shelf-photo-holder">
        <a href="{{ url_for('bookshelves.index', user_id=user.id) }}">
          <div class="black-rounded">
            <img src="{{ url_for('static', filename='images/bookshelf.jpg') }}">
          </div>
          <div>
            <h2><strong> Bookshelf</strong></h2>
          </div>
        </a>
            <h6>
              (Books you've finished)
            </h6>
      </div>
      <div class="bottom-margin">
        <small>({{ bookshelf|length }} book{% if bookshelf|length != 1 %}s{% endif %})</small>
      </div>
        
    </div>
  </div>
</div>

<div class="center">
  <svg>
  </svg>
</div>

<div class="text-center">
  {# <h5>More options</h5> #}

  {% if current_user.id == user.id %}
    <div>
      <a href="{{ url_for('users.edit', user_id=user.id) }}">Edit account settings</a>
    </div>

    <div>
      <a href="{{ url_for('users.edit_password', user_id=user.id) }}">Change password</a>
    </div>


  {% elif current_user.is_authenticated %}
    {% if current_user.is_following(user) %}
      <form method="POST" action="{{url_for('users.follower', follower_id=user.id)}}?_method=DELETE">
        <input type="submit" value="Unfollow" class="btn btn-warning">
      </form>
    {% else %}
      <form method="POST" action="{{url_for('users.follower', follower_id=user.id)}}">
        <input type="submit" value="Follow" class="btn btn-info">
      </form>
    {% endif %}
  {% endif %}
</div>






{% endblock %}