{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<h2>About</h2>


<p>
  Username: {{ user.username }}
</p>

<p>
  Name: {{ user.name }}
</p>

<p>
  {{ booklist|length }} book{% if booklist|length > 1 %}s{% endif %} on <a href="{{ url_for('booklists.index', user_id=user.id) }}">{{ user.username }}'s booklist</a>
</p>

<p>
  {{ bookshelf|length }} book{% if bookshelf|length > 1 %}s{% endif %} on <a href="{{ url_for('bookshelves.index', user_id=user.id) }}">{{ user.username }}'s bookshelf</a>
</p>




<h3>More options</h3>

<p>
  <a href="{{ url_for('users.edit', user_id=user.id) }}">Edit account settings</a>
</p>

<p>
  <a href="{{ url_for('users.edit_password', user_id=user.id) }}">Change password</a>
</p>




{% endblock %}