{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<h3>About {{ user.username }}</h3>



<p>
  <strong>{{ user.name }}</strong>
</p>


<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6">
      <div class="shelf-photo-holder">
        <a href="{{ url_for('booklists.index', user_id=user.id) }}">
          <img src="{{ url_for('static', filename='images/booklist.jpg') }}">
          <div>
            <h2><strong> Booklist</strong></h2>
          </div>
        </a>
      </div>
      <div class="bottom-margin">
        <small>({{ booklist|length }} book{% if booklist|length > 1 %}s{% endif %})</small>
      </div>
      
    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="shelf-photo-holder">
        <a href="{{ url_for('bookshelves.index', user_id=user.id) }}">
          <img src="{{ url_for('static', filename='images/bookshelf.jpg') }}">
          <div>
            <h2><strong> Bookshelf</strong></h2>
          </div>
        </a>
      </div>
      <div class="bottom-margin">
        <small>({{ bookshelf|length }} book{% if bookshelf|length > 1 %}s{% endif %})</small>
      </div>
        
    </div>
  </div>
</div>



<hr class="hr">

<h5>More options</h5>

<div>
  <a href="{{ url_for('users.edit', user_id=user.id) }}">Edit account settings</a>
</div>

<div>
  <a href="{{ url_for('users.edit_password', user_id=user.id) }}">Change password</a>
</div>


{% endblock %}