{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<div class="row text-center login">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h3>Edit comments for <strong>{{ book.title }}</strong></h3>
    <section>
      <div class="row">
        <div class="text-center">
          <form action="{{ url_for('booklists.show', user_id=user.id, book_id=book.id) }}?_method=PATCH" method="POST">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1 text-center add-form">
            
                {{ form.csrf_token }}

                <p>
                  {{ form.comments(placeholder="comments", class="form-control") }}
                  <span class="text-danger">
                    {% if form.comments.errors %}
                      {% for error in form.comments.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
              </div>
              <div class="col-xs-12">
                <button type="submit align-right" class="btn btn-default search">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

<form action="{{ url_for('booklists.show', user_id=user.id, book_id=book.id) }}?_method=DELETE" method="POST">
  {{ form.csrf_token }}
  <button type="submit" class="btn btn-danger">Delete book</button>
</form>
<br>
<br>


<div class="row text-center">
  <div class="col-xs-10 col-xs-offset-1">
    <a href="{{ url_for('booklists.show_get', user_id=user.id, book_id=book.id) }}"><span class="glyphicon glyphicon-arrow-left glyphicon-large"></span><span> Back to {{ book.title }}</span></a>
  </div>
</div>

{% endblock %}