{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<h2 class="text-center">{{ user.username }}'s Booklist
</h2>
<div class="col-xs-10 col-xs-offset-1 text-center">
    <a href="{{ url_for('bookshelves.index', user_id=user.id) }}"><span>Switch to {% if current_user.id == user.id %}my{% else %}{{ user.username }}'s{% endif %} bookshelf </span><span class="glyphicon glyphicon-arrow-right glyphicon-large"></span></a>
  </div>


<div class="row books text-center">
  {% for book in books %}
    
      <div class="col-xs-12 col-sm-2 form-group">
        <div class="cover-grid">
          <span class="helper"></span>
          <a class="black" href="{{ url_for('booklists.show', user_id=user.id, book_id=book.book.id) }}">
            <img  src="{{ book.book.image_url }}">
          </a>
          </div>
      </div>

  {% endfor %}

  <div class="col-xs-10 col-xs-offset-1 text-center">
    <a href="{{ url_for('users.show', user_id=user.id) }}"><span class="glyphicon glyphicon-arrow-left glyphicon-large"></span><span> Back to {% if current_user.id == user.id %}my{% else %}{{ user.username }}'s{% endif %} profile page</span></a>
</div>



{% endblock %}