{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}


<h1>{{ user.username }}'s Book
</h1>

{% if book.list_type == "booklist" %}
  <img src="{{ book.book.image_url }}">
  {{ book.book.title }}: {{ book.comments }}
  <a href="{{ url_for('bookshelves.edit', user_id=user.id, book_id=book.book.id) }}"><span class="glyphicon glyphicon-edit glyphicon-large"></span><span> Edit comments</span></a>
  <h3>About this book</h3>
  <div>
    Author: {{ book.book.author }}
  </div>
  <div>
    {{ book.book.pages }} pages
  </div>
  <div>
    Published {{ book.book.date_published }}
  </div>
  <div>
    About: {{ book.book.description }}
  </div>
  <div>
    Excerpt: {{ book.book.snippet }}
  </div>
  <div>
    Category: {{ book.book.categories }}
  </div>
{% endif %}



  
  

  <h4>
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-ok glyphicon-large" aria-hidden="true"></span>
    </button>
    Mark as read and move {{ book.title }} to your bookshelf
  </h4>




    <section>
      <div class="row row-hidden">
        <div class="text-center">
          <form class="form" action="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.book.id) }}?_method=PATCH" method="POST">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1 text-center add-form">
            
                {{ form.csrf_token }}

                 <p class="rating">rating
                  {% for subfield in form.rating %}
                      <tr>
                          <td>{{ subfield(class="radio-inline") }}</td>
                          <td>{{ subfield.label }}</td>
                      </tr>
                  {% endfor %}
                  <span class="text-danger">
                    {% if form.rating.errors %}
                      {% for error in form.rating.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
                <p>
                  {{ form.review(placeholder="review", class="form-control") }}
                  <span class="text-danger">
                    {% if form.review.errors %}
                      {% for error in form.review.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
              </div>
              <div class="col-xs-12">
                <button type="submit align-right" class="btn btn-default search">Add to bookshelf</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>




{% endblock %}