{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div>{{ message }}</div>
{% endfor %}


<h1>{{ user.username }}'s Book
</h1>

{% if book.list_type == "booklist" %}
  <img src="{{ book.book.image_url }}">
  {{ book.book.title }}: {{ book.comments }}
  <div>About this book</div>
  <div>
    Author: {{ book.book.author }}
  </div>
  <div>
    {{ book.book.pages }} pages
  </div>
  <div>
    Published {{ book.book.date_published }}
  </div>
  <div>
    About: {{ book.book.description }}
  </div>
  <div>
    Excerpt: {{ book.book.snippet }}
  </div>
  <div>
    Category: {{ book.book.categories }}
  </div>
{% endif %}


<h2>Other options</h2>


<h3>
  Make changes
</h3>
<div><a href="{{ url_for('bookshelves.edit', user_id=user.id, book_id=book.book.id) }}">Edit comments or delete book</a></div>

<h3>Move {{ book.title }} to your bookshelf</h3>

<form action="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.book.id) }}?_method=PATCH" method="POST">
  {{ form.csrf_token }}
  <p>
    {{ form.rating(placeholder="rating") }}
    <span class="text-danger">
      {% if form.rating.errors %}
        {% for error in form.rating.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.review(placeholder="review") }}
    <span class="text-danger">
      {% if form.review.errors %}
        {% for error in form.review.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit align-right">Submit review</button>
</form>





{% endblock %}