{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}



<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
    {% if book.list_type == "booklist" %}
      <h3>{{ book.book.title }}</h3>
      <img src="{{ book.book.image_url }}">
      <blockquote class="blockquote-reverse">
        <p>
          {{ book.comments }}
        </p>
        <footer>
          {{ user.username }}'s comments
        </footer>
      </blockquote>
      {% if current_user.id == user.id %}
        <a href="{{ url_for('bookshelves.edit', user_id=user.id, book_id=book.book.id) }}"><span class="glyphicon glyphicon-edit glyphicon-large"></span><span> Edit review</span></a>
      {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4>About this book</h4>
      <div>
        <strong>Author</strong>: {{ book.book.author }}
      </div>
      <div>
        <strong>Pages</strong>: {{ book.book.pages }}
      </div>
      <div>
        <strong>Date Published</strong>: {{ book.book.date_published }}
      </div>
      <div>
        <strong>About</strong>: {{ book.book.description }}
      </div>
      <div>
        <strong>Category</strong>: {{ book.book.categories }}
      </div>
      <div>
      <div>
        {% if book.book.nyt_review_url != "None found" and book.book.nyt_review_url != None %}
          <span>
            <a target="_blank" href="http://developer.nytimes.com"><img src="{{ url_for('static', filename='images/nyt.png') }}"></a>
          </span>
          <strong>Published Review</strong>: <a target="_blank" href="{{ book.book.nyt_review_url }}">New York Times book review</a>
        {% endif %}
      </div>
      {# <div>
        <strong>Excerpt</strong>: {{ book.book.snippet }}
      </div> #}
{% endif %}
  </div>
</div>


{% if book.user.id !=  current_user.id %}

<div class="row text-center">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <h5>
    <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
    </button>
    <span>Add to your booklist</span>
  </h5>
 </div>
</div>

    <section>
      <div class="row row-hidden">
        <div class="text-center">
          <form class="form" action="{{ url_for('booklists.show', user_id=current_user.id, book_id=book.book.id) }}" method="POST">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1 text-center add-form">
            
                {{ form.csrf_token }}

                <p>
                  {{ form.comments(placeholder="comments", class="form-control") }}
                  <span class="text-danger">
                    {% if form.comments.errors %}
                      {% for error in form.comments.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
              </div>
              <div class="col-xs-12">
                <button type="submit align-right" class="btn btn-default search">Add to booklist</button>
              </div>
            </div>
          </form>
        </div>
      </div>




{% else %}

 <div class="row text-center">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <h5>
    <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-ok glyphicon-large" aria-hidden="true"></span>
    </button>
    <span>Mark as read</span>
  </h5>
 </div>
</div>

    <section>
      <div class="row row-hidden">
        <div class="text-center">
          <form class="form" action="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.book.id) }}?_method=PATCH" method="POST">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1 text-center add-form">
            
                {{ form.csrf_token }}

                 <p class="rating">rating
                  {% for subfield in form.rating %}
                      <tr>
                          <td>{{ subfield(class="radio-inline") }}</td>
                          <td>{{ subfield.label }}</td>
                      </tr>
                  {% endfor %}
                  <span class="text-danger">
                    {% if form.rating.errors %}
                      {% for error in form.rating.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
                <p>
                  {{ form.review(placeholder="review", class="form-control") }}
                  <span class="text-danger">
                    {% if form.review.errors %}
                      {% for error in form.review.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
              </div>
              <div class="col-xs-12">
                <button type="submit align-right" class="btn btn-default search">Move to bookshelf</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-10 col-xs-offset-1">
          <a href="{{ url_for('booklists.index', user_id=user.id) }}"><span class="glyphicon glyphicon-arrow-left glyphicon-large"></span><span> Back to {{ user.username }}'s booklist</span></a>
        </div>
      </div>
    </section>

{% endif %}



{% if full_bookshelf|length > 0 %}

  <hr>
  <section>
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <h5>
          What others are saying
        </h5>
        <h6>Average rating: {{ average_rating }}</h6>

        {% for reviews in full_bookshelf %}
          {% if reviews.book_id == book.book.id and reviews.user_id != user.id %}
          
            <div class="col-xs-12 col-sm-3 col-md-2 form-group">
              <div>
                <strong>{{ reviews.rating }} out of 10</strong>
              </div>
              <div>
                {{ reviews.review }}
              </div>
              <div>
                - {{ reviews.user.username }}
              </div>
            </div>
          {% endif %}

        {% endfor %}

      </div>
    </div>
  </section>
{% endif %}
   


{% endblock %}