{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="msg">{{ message }}</div>
{% endfor %}

<h1>Edit review of {{ book.title }}</h1>

<form action="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.id) }}?_method=PATCH" method="POST">
  {{ form.csrf_token }}
  <p>
    {{ form.rating(placeholder="rating") }}
    <span class="text-danger">
      {% if form.rating.errors %}
        {% for error in form.rating.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.review(placeholder="review") }}
    <span class="text-danger">
      {% if form.review.errors %}
        {% for error in form.review.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit align-right">Submit changes</button>
</form>

<form action="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.id) }}?_method=DELETE" method="POST">
  {{ form.csrf_token }}
  <button type="submit">Remove book</button>

</form>

{% endblock %}