<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommendation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <style>
  
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Abril Fatface';
      }

      .blockquote-reverse {
        margin-top: 2rem;
        background-color: #B4D6DE;
      }

      .blockquote-reverse footer {
        color: gray;
      }

    </style>

</head>
<body>

      Hello,

      I thought you might like this book.


    <h3>{{ book.book.title }}</h3>
    <img src="{{ book.book.image_url }}">
    <blockquote class="blockquote-reverse">
      <p>
        {{ book.review }}
      </p>
      <p>
        {{ user.username }}'s review ({{ book.rating }} out of 10)
      </p>
    </blockquote>
      
    <h3>About this book</h3>
    <div>
      <strong>Author</strong>: {{ book.book.author }}
    </div>
    <div>
      <strong>Pages</strong>: {{ book.book.pages }}
    </div>
    <div>
      <strong>Date Published</strong>: {{ book.book.date_published }}
    </div>
    <div>
      <strong>About</strong>: {{ book.book.description }}
    </div>
    <div>
      <strong>Category</strong>: {{ book.book.categories }}
    <div>
      {% if book.book.nyt_review_url != "None found" and book.book.nyt_review_url != None %}<strong>Published Review</strong>: <a href="{{ book.book.nyt_review_url }}">New York Times book review</a>{% endif %}
    </div>
     
  </section>


  <br>
  <br>


    <p>
      Brought to you my <a href="https://my-bookshelves.herokuapp.com">My Bookshelves</a>.
    </p>
    <div>
      <img src="http://imgur.com/I72VCwf.jpg">
    </div>
  </footer>


    

  </div>
    
</body>
</html>