{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<h2 class="text-center">{{ user.username }}'s Bookshelf
</h2>


  <div class="row books text-center">
    {% for book in books %}
      
      <div class="col-xs-12 col-sm-3 form-group">
        <div class="cover-grid">
          <a href="{{ url_for('bookshelves.show', user_id=user.id, book_id=book.book.id) }}">
            <span class="helper"></span>
            <img class="border" src="{{ book.book.image_url }}">
          </a>
        </div>
        <div>
          {{ book.rating }} out of 10
        </div>
      </div>

    {% endfor %}
  </div>
{# </div> #}
{% endblock %}