{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}



<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
    {% if book.list_type == "bookshelf" %}
      <h3>{{ book.book.title }}</h3>
      <img src="{{ book.book.image_url }}">
      <blockquote class="blockquote-reverse">
        <p>
          {{ book.review }}
        </p>
        <footer>
          {{ user.username }}'s review ({{ book.rating }} out of 10)
        </footer>
      </blockquote>
      <a href="{{ url_for('bookshelves.edit', user_id=user.id, book_id=book.book.id) }}"><span class="glyphicon glyphicon-edit glyphicon-large"></span><span> Edit review</span></a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4>About this book</h4>
      <div>
        <strong>Author</strong>: {{ book.book.author }}
      </div>
      <div>
        <strong>Pages</strong>: {{ book.book.pages }}
      </div>
      <div>
        <strong>Date Published</strong>: {{ book.book.date_published }}
      </div>
      <div>
        <strong>About</strong>: {{ book.book.description }}
      </div>
      <div>
        <strong>Category</strong>: {{ book.book.categories }}
      </div>
      <div>
        <strong>Excerpt</strong>: {{ book.book.snippet }}
      </div>
{% endif %}

{# {% if book.list_type == "bookshelf" %}

  <img src="{{ book.book.image_url }}">
  {{ book.book.title }}: {{ book.rating }} out of 10
  <div>
    {{ book.review }}
  </div>  
    <div>About this book</div>
  <div>
    Author: {{ book.book.author }}
  </div>
  <div>
    {{ book.book.pages }} pages
  </div>
  <div>
    Published {{ book.book.date_published }}
  </div>
  <div>
    About: {{ book.book.description }}
  </div>
  <div>
    Excerpt: {{ book.book.snippet }}
  </div>
  <div>
    Category: {{ book.book.categories }}
  </div>
{% endif %}

<div>
  EDIT BOOK REVIEW
</div>

<div>
  REMOTE BOOK FROM BOOKSHELF
</div> #}

{% endblock %}