{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div>{{ message }}</div>
{% endfor %}


<h1>{{ user.username }}'s Book
</h1>


{% if book.list_type == "bookshelf" %}

  <img src="{{ book.book.image_url }}">
  {{ book.book.title }}: {{ book.rating }} out of 10
  <div>
    {{ book.review }}
  </div>  
    <div>About this book</div>
  <div>
    Author: {{ book.book.author }}
  </div>
  <div>
    {{ book.book.pages }} pages
  </div>
  <div>
    Published {{ book.book.date_published }}
  </div>
  <div>
    About: {{ book.book.description }}
  </div>
  <div>
    Excerpt: {{ book.book.snippet }}
  </div>
  <div>
    Category: {{ book.book.categories }}
  </div>
{% endif %}

<div>
  EDIT BOOK REVIEW
</div>

<div>
  REMOTE BOOK FROM BOOKSHELF
</div>

{% endblock %}