{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}



<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
    {% if book.list_type == "bookshelf" %}
      <h3>{{ book.book.title }}</h3>
      <img src="{{ book.book.image_url }}">
      <blockquote class="blockquote-reverse">
        <p>
          {{ book.review }}
        </p>
        <footer>
          {{ user.username }}'s review ({{ book.rating }} out of 10)
        </footer>
      </blockquote>
      {% if current_user.id == user.id %}
        <a href="{{ url_for('bookshelves.edit', user_id=user.id, book_id=book.book.id) }}"><span class="glyphicon glyphicon-edit glyphicon-large"></span><span> Edit review</span></a>
      {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h4>About this book</h4>
    <div>
      <strong>Author</strong>: {{ book.book.author }}
    </div>
    <div>
      <strong>Pages</strong>: {{ book.book.pages }}
    </div>
    <div>
      <strong>Date Published</strong>: {{ book.book.date_published }}
    </div>
    <div>
      <strong>About</strong>: {{ book.book.description }}
    </div>
    <div>
      <strong>Category</strong>: {{ book.book.categories }}
    </div>
      {# <div>
        <strong>Excerpt</strong>: {{ book.book.snippet }}
      </div> #}
  </div>
</div>
{% endif %}




<div class="row text-center">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <h5>
    <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-share-alt glyphicon-large" aria-hidden="true"></span>
    </button>
    <span>Email recommendation</span>
  </h5>
 </div>
</div>

    <section>
      <div class="row row-hidden">
        <div class="text-center">
          <form class="form" action="{{ url_for('bookshelves.email', user_id=user.id, book_id=book.book.id) }}" method="POST">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1 text-center add-form">
                {{ form.csrf_token }}                 
                <p>
                  {{ form.recipient(placeholder="recipient(s)", class="form-control active") }}
                  <span class="text-danger">
                    {% if form.recipient.errors %}
                      {% for error in form.recipient.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </p>
              </div>
              <div class="col-xs-12">
                <button type="submit align-right" class="btn btn-default search">Send email</button>
              </div>
            </div>
          </form>
        </div>
      </div>





<div class="row text-center">
  <div class="col-xs-10 col-xs-offset-1">
    <a href="{{ url_for('bookshelves.index', user_id=user.id) }}"><span class="glyphicon glyphicon-arrow-left glyphicon-large"></span><span> Back to {{ user.username }}'s bookshelf</span></a>
  </div>
</div>
</section>


{% endblock %}